footer {
    /* width: 100%; */
    /* margin-top: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background: var(--dark-80);
    backdrop-filter: blur(4px);
    color: var(--light-80);
}
#footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
#footerLinks a:hover {
    background: var(--light-10);
}
#footerLinks a {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5em;
    border-radius: var(--radius);
    color: var(--light);
    fill: var(--light);
    text-decoration: none;
    transition: .3s;
}

footer div:has(.badge) {
    display: flex;
    align-items: center;
    gap: .5em;
}