footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    background: var(--dark-80);
    backdrop-filter: blur(4px);
}
footer > div:first-child {
    display: flex;
    gap: .5em;
}
footer > div:last-child {
    color: lightgray;
}
footer a:hover {
    background: var(--light-10);
}
footer a {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5em;
    border-radius: var(--radius);
    color: var(--light);
    fill: var(--light);
    text-decoration: none;
    transition: .3s;
}