.w-100pc {
    width: 100%;
}
.ta-right {
    text-align: right;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.f-wrap {
    flex-wrap: wrap;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.fdr-column {
    flex-direction: column;
}

.tdb-gap-1 {
	gap: 1rem;
}
.cc-2 > div {
	width: 50%;
}

/* * * * * * * */
.kit section {
    margin: 1em;
}
.kit section h2 {
    margin-bottom: .2em;
}
.kit-box > h3 {
    width: 100%;
}
.kit-box {
    border: 2px dashed var(--accent-light-20);
    border-radius: var(--radius);
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.kit-color-box {
    width: 50px;
    aspect-ratio: 1;
    background: var(--light-20);
    border-radius: var(--radius);
}
.kit-item {
    font-size: 80%;
    display: flex;
    gap: .2em;
    flex-direction: column;
    align-items: center;
    text-align: center;
	color: var(--light-50);
}


/* LINKS */
.kit-item a {
	font-size: 1rem;
    color: var(--link);
}

/* COLORS */
.kit-colors .kit-item > span:first-of-type {
	color: var(--light);
}

/* BUTTONS */
.btn-tdb {
    background: var(--btn-bg, var(--accent-50));
    font-family: unset;
    font-size: 1rem;
    padding: .5rem 1rem;
	border-radius: var(--radius);
	cursor: pointer;
	transition: .3s;
	outline-offset: -2px;
    color: var(--btn-text, var(--light));
}
a.btn-tdb,
a.btn-tdb:hover {
	text-decoration: none;
    color: var(--btn-text, var(--light));
}
.btn-tdb.small {
    padding: .25rem 1rem 5px;
}

.btn-prime:hover {
    filter: brightness(80%);
}
.btn-prime.accent-light-50 {
    background: var(--accent-light-50);
}
.btn-prime.accent-light-50:hover {
    background: var(--accent-light-80);
}
.btn-tdb:not(.btn-ter,[disabled]):active {
    transform: scale(95%);
}
.btn-tdb[disabled],a.btn-tdb[disabled] {
    background: var(--btn-bg, var(--accent-50));
	cursor: default;
    color: var(--accent-light-20);
}
.btn-sec[disabled],a.btn-sec[disabled] {
	outline: 2px solid var(--accent-20);
}
.btn-sec {
    background: none;
	outline: 2px solid var(--accent-50);
    color: var(--accent-light);
}
.btn-tdb:not([disabled]).btn-sec:hover {
	outline: 2px solid var(--accent-80);
    color: var(--accent-light);
}
.btn-sec-fill {
	outline: 2px solid var(--accent-50);
    background: var(--accent-20);
    color: var(--accent-light);
}
.btn-tdb:not([disabled]).btn-sec-fill:hover {
	outline: 2px solid var(--accent-80);
    background: var(--accent-50);
    color: var(--accent-light);
}
.btn-sec-fill[disabled],a.btn-sec-fill[disabled] {
    background: var(--accent-20);
	outline: 2px solid var(--accent-20);
}
.btn-ter,
a.btn-ter {
    background: none;
    color: var(--link);
}
.btn-ter:hover,
a.btn-ter:hover {
    color: var(--link-hover);
}
.btn-ter[disabled],a.btn-ter[disabled] {
    background: none;
    color: var(--light-20);
}