/* == Каталог == */
/* Загально для списків */
.items-list {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    justify-content: center;
    /* justify-items: center; */
    align-items: flex-start;
    gap: 1em 2em;
}
/** У вигляді списку **/
.items-list.list-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.3% - 4em), 1fr));
}
.items-list.list-view .anime-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    transition: .3s;
}
.items-list.list-view .anime-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin: auto; */
}

/* Картка елементу */
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 170px;
    background: var(--dark-80);
    border-radius: var(--radius);
    outline: 1px solid var(--light-20);
    padding: 4px;
    transition: .3s;
    cursor: pointer;
    /* aspect-ratio: 2/3; */
    z-index: 0;
}
.card:hover {
    background: #0007;
    box-shadow: 0 0 8px var(--accent);
    outline: 1px solid var(--accent);
}
.card:hover .anime-cover {
    opacity: .4;
}
.poster-box {
    max-height: 230px;
    overflow: hidden;
    border-radius: var(--radius);
}
.poster-box img {
    width: 100%;
    height: auto;
}
/** У вигляді списку **/
.items-list.list-view .card {
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 158px;
    gap: 1em;
    padding: 1em;
    /* aspect-ratio: 4/1;   */
}
.items-list.list-view .poster-box {
    max-height: 150px;
    width: 25%;
}
.items-list.list-view .card .info {
    width: calc(75% - 1em);
    /* width: 100%; */
}

/* Для картки аніме */
.anime-card .info {
    /* padding: 4px; */
}

/* Для картки релізу в тайтлі */
.anime-release-card {
    padding: .2em .5em;
}

/* Для картки релізу */

/** У вигляді списку **/


/* Картки команд */
.team-logo {
    border-radius: var(--radius);
}
/** У вигляді списку **/
.items-list.list-view .team-card .info {
    text-align: center;
    width: 100%;
}
.items-list.list-view .team-card img + .info {
    width: calc(100% - 130px - 1em);
}
.items-list.list-view .team-card img {
    height: 100%;
}