.filters-section {
    position: relative;
    margin-bottom: 20px;
}

.list-controls {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    gap: 1em;
}

.view-controls {
    display: flex;
    border: 1px solid var(--light-10);
    border-radius: var(--radius);
    overflow: hidden;
}

.view-controls button {
    background: none;
    padding: 0 .5em;
    border-radius: unset;
}
#listViewBtn {
    transform: rotate(180deg);
    /* margin-top: -1px; */
}

.view-controls button:hover {
    background-color: var(--light-10);
}
.view-controls button.active {
    background-color: var(--light-20);
}

#filterBtn {
    background-color: var(--light-05);
    border: 1px solid var(--light-10);
    cursor: pointer;
}
#filterBtn:after {
    content: ' Фільтри';
}
#filterBtn:hover {
    background-color: var(--light-10);
}
#filterBtn.active {
    background-color: var(--light-20);
}

#filterOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    gap: 1em;
    right: 0;
    background: var(--dark-90);
    backdrop-filter: blur(4px);
    border: 1px solid var(--light-20);
    border-radius: var(--radius);
    padding: .5em 1em;
    margin-top: 10px;
    z-index: 10;
}
#filterOptions.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}
#filterOptions h4 {
    margin-bottom: .4em;
}
#filterOptions .filter-btn {
    background-color: var(--light-05);
    border: 1px solid var(--light-10);
    padding: .5em 1em;
}
#filterOptions .filter-btn.active {
    background-color: var(--accent);
}