/* == Пошук == */


/* == Каталог == */
/* Загально для списків */
.items-list {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* justify-content: center; */
    justify-items: center;
    align-items: flex-start;
    gap: 1em 2em;
}
.no-results {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}
.no-results i {
    font-size: 2em;
    color: #dc4c64;
    font-weight: bold;
}
/** У вигляді списку **/
.items-list.list-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.3% - 4em), 1fr));
}
.items-list.list-view .anime-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    transition: .3s;
}
.items-list.list-view .anime-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin: auto; */
}

/* Картка елементу */
.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    width: 100%;
    /* gap: .3em; */
    max-width: 250px;
    background: var(--dark-50);
    border-radius: var(--radius);
    outline: 1px solid var(--light-20);
    padding: 4px;
    transition: .3s;
    cursor: pointer;
    z-index: 0;
}
.card:hover {
    background: var(--dark-90);
    box-shadow: 0 0 8px var(--accent);
    outline: 1px solid var(--accent);
    transform: translateY(-5px);
}
.card:hover .anime-cover {
    opacity: .4;
}
.poster-box {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: var(--radius);
}
.poster-box img {
    position: relative;
    width: 100%;
    height: auto;
}

.poster-box .ratings {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    padding: .5em;
}

.poster-box span {
    background: var(--dark-80);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    gap: .3em;
    padding: .2em .3em;
    border-radius: var(--radius);
/*    text-shadow: 0 0 4px black;*/
}

.poster-box .age-rating {
    color: rgb(255,100,0);
    font-weight: bold;
}

.poster-box .dub-sub-info {
    position: absolute;
    display: flex;
    gap: 1px;
    bottom: 0;
    margin: .5em;
    font-size: .9rem;
    border-radius: var(--radius);
    overflow: hidden;
}
.poster-box .dub-sub-info > span {
    border-radius: unset;
    padding: .2em .3em;
}
.poster-box .dub-info {
    background: rgba(55,255,154,.7);
}
.poster-box .sub-info {
    background: rgba(234,55,255,0.7);
}

/** У вигляді списку **/
.items-list.list-view .card {
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 158px;
    gap: 1em;
    padding: 1em;
}
.items-list.list-view .poster-box {
    max-height: 150px;
    width: 25%;
}
.items-list.list-view .card .info {
    width: calc(75% - 1em);
    /* width: 100%; */
}

/* Для картки аніме */
.card .info {
    padding: 4px;
    text-align: center;
    width: 100%;
}

/* Для картки релізу в тайтлі */
.anime-release-card {
    padding: .2em .5em;
}

/* Для картки релізу */

/** У вигляді списку **/

/* = sceleton = */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skeleton-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--dark) 25%, var(--light-10) 50%, var(--dark) 75%);
    background-size: 100% 200%;
    animation: skeleton-loading-vertical 2s infinite;
}

body.light .skeleton-loader {
        background-image: linear-gradient(0deg, var(--dark-10) 25%, var(--light-10) 50%, var(--dark-10) 75%);
}

@keyframes skeleton-loading-vertical {
    0% {
        background-position: 0 200%;
    }
    100% {
        background-position: 0 -200%;
    }
}
