/* === Мобільна адаптація === */
@media (max-width: 768px) {
  /* Основні відступи */
  #app {
    --main-padding-x: .5em;
  }

  .site-logo {font-size: 0}
  #itemsCounter {display: none}

  /* Списки */
  .items-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
  }
  .items-list.list-view {
    grid-template-columns: 1fr;
  }
  .items-list.list-view .card {
    flex-direction: row;
    aspect-ratio: unset;
    height: auto;
    gap: .5em;
    padding: .5em;
  }
  .poster-box {
    height: 200px;
  }

  /* Картки команд */
  .items-list.list-view:has(.team-card) {
    grid-template-columns: 1fr;
    gap: .5em;
  }
  .items-list.list-view .team-card {
    padding: .5em;
    gap: .5em;
  }
  .items-list.list-view .team-releases-row {
    grid-template-columns: 1fr 1fr;
  }

  /* Модальні вікна */
  .anime-detail-modal {
    width: 95vw;
    max-width: 95vw;
    height: 95vh;
    max-height: 95vh;
  }
  .anime-detail-modal #animeModalContent {
    padding: .5em;
  }

  /* Релізи в модальному */
  #animeDetailModal #releasesList .releases-container .release-card {
    grid-template-columns: 1fr 2fr;
    row-gap: .5em;
  }

  /* Фільтри */
  #filterBtn:after,
  #sortBtn:after {
    content: none;
  }
  #filterOptions {
    grid-template-columns: 1fr;
  }

  /* Футер */
  footer {
    flex-direction: column;
    gap: .5em;
    text-align: center;
  }
}