body.light {
    --dark: vhsl(0, 0%, 90%);
    --dark--hsl: 0, 0%, 90%;
    --dark-05: hsl(var(--dark--hsl), .05);
    --dark-10: hsl(var(--dark--hsl), .1);
    --dark-20: hsl(var(--dark--hsl), .2);
    --dark-50: hsl(var(--dark--hsl), .5);
    --dark-80: hsl(var(--dark--hsl), .8);
    --dark-90: hsl(var(--dark--hsl), .9);
    
    --light: hsl(0, 0%, 10%);
    --light--hsl: 0, 0%, 10%;
    
    --light-05: hsl(var(--light--hsl), .05);
    --light-10: hsl(var(--light--hsl), .1);
    --light-20: hsl(var(--light--hsl), .2);
    --light-50: hsl(var(--light--hsl), .5);
    --light-80: hsl(var(--light--hsl), .8);
    --light-90: hsl(var(--light--hsl), .9);
    
    --text: var(--dark);
}

 body.light footer .badge img[src*="powered-by-hikka_ua.svg"] {
  content: url("https://rosset-nocpes.github.io/ua-badges/src/powered-by-hikka-ua-light.svg");
} 

body.light footer .badge img[src*="notion-dark.svg"] {
  content: url("https://rosset-nocpes.github.io/ua-badges/src/notion-light.svg");
}

body.light #filterOptions .filter-btn {
  background-color: var(--accent-10);
}
body.light #filterOptions .filter-btn:hover {
  background-color: var(--accent-20);
}
body.light #filterOptions .filter-btn.active {
  background-color: var(--accent-50);
}


body.light .pagination-btn:hover {
  background-color: var(--accent-20);
}
body.light .pagination-btn.active {
  background: var(--accent-50);
}