@import "components/title_modal_details.css";

.title-detail .title-cover {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100vh;
  overflow: hidden;
  z-index: -1;
  mask-image: linear-gradient(#fff, transparent);
  opacity: .4;
}
.title-detail .title-cover:before {
  /* content: ''; */
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: var(--dark-50);
}
.title-detail .title-cover img {
  width: 100%;
  /* aspect-ratio: 3 / 2; */
  object-fit: cover;
}

/* = Даб секція = */
/*.title-detail .dub-info {
  width: 300px;
}
.title-detail .dub-info .teams-logos {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.title-detail .dub-info .teams-logos span {
  display: flex;
  align-items: center;
  gap: .5em;
  border-radius: var(--radius);
  transition: .3s;
}
.title-detail .dub-info .data-nav-link {
  text-decoration: none;
  color: inherit;
}
.title-detail .dub-info .data-nav-link:hover span {
  background: var(--light-10);
}
.title-detail .dub-info .teams-logos img {
  height: 40px;
  width: auto;
  border-radius: var(--radius);
  margin-right: .3em;
}*/
/*  */

.title h1 {
  font-size: 2em;
}
.title h1 + span {
  font-size: 1.2em;
}

/*  */
.top-section {
    display: flex;
    align-items: flex-start;
    /* margin: 0 5vw; */
    margin-bottom: 1em;
    gap: 1rem;
}

.top-section .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}