@charset "UTF-8";
:root {
  --nav-main-height: 2.5em;
  --nav-padding-y: 1em;
  --nav-height: calc(var(--nav-main-height) + var(--nav-padding-y) * 2);
  --main-padding-x: 2em;
  --footer-height: 4em;
  --border: 1px solid var(--light-20);
  --border-color: 1px solid gray;
  --radius: 8px;
  --text: var(--light);
  --link: #C39BD3;
  --link-hover: #9B59B6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  background-image: linear-gradient(to bottom, var(--accent-30), var(--accent-10), var(--accent-10));
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--text);
}

.material-symbols-rounded {
  vertical-align: middle;
  font-variation-settings: "wght" 200, "opsz" 2;
}

#app {
  padding: calc(var(--nav-height) + 1em) var(--main-padding-x) 1em;
  flex-grow: 1;
}

h2, h3, h4 {
  font-weight: 500;
}

button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: var(--text);
  font-family: inherit;
  line-height: 1;
  border: unset;
  padding: 0 0.5em;
  border-radius: var(--radius);
  transition: 0.3s;
}
button:hover {
  background: rgba(255, 255, 255, 0.3333333333);
}

.page-block {
  padding: 10px;
  border: 1px solid var(--accent-50);
  border-radius: var(--radius);
  color: var(--text);
  background: var(--light-10);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 0 4px 2px var(--dark-50);
  transition: 0.3s;
}

.page-block > h3 {
  position: relative;
  border-left: 0.5rem solid var(--accent);
  padding-left: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.anime-detail > h3:after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, var(--accent-20), transparent);
  left: 0;
  height: 100%;
  width: 0%;
  transition: 0.3s;
}

.anime-detail:hover > h3:after, .choosen-title:hover h3:after {
  width: 20%;
}

/* == Деталі == */
.teams-logos img {
  height: 15px;
  width: auto;
  border-radius: 50%;
  margin-right: 0.3em;
}

/* == Інше == */
.truncate {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Loader */
#loadingОverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 5px solid var(--accent-50);
  border-top: 5px solid var(--accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* інпут пошуку у списках */
input {
  padding: 0.5em;
  color: var(--text);
  background: none;
  border: 1px solid var(--light-20);
  border-radius: var(--radius);
  transition: 0.3s;
}
input:hover {
  border: 1px solid var(--accent);
}
input:focus {
  border-color: var(--accent);
  outline: none;
  box-shadow: 0 0 4px var(--accent);
}

/* Scroll */
::-webkit-scrollbar {
  width: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-50);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */