@charset "UTF-8";
.title-detail {
  /* Інформація про тайтл */
  /* = Даб секція = */
}
.title-detail .title-cover {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100vh;
  overflow: hidden;
  z-index: -1;
  -webkit-mask-image: linear-gradient(#fff, transparent);
          mask-image: linear-gradient(#fff, transparent);
  opacity: 0.4;
}
.title-detail .title-cover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: var(--dark-50);
}
.title-detail .title-cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.title-detail .top-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  gap: 1rem;
}
.title-detail .top-section .center-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}
.title-detail .top-section .center-column h1 {
  font-size: 2em;
}
.title-detail .top-section .center-column h1 + span {
  font-size: 1.2em;
}
.title-detail .title-poster {
  width: 250px;
  height: auto;
  border-radius: var(--radius);
}
.title-detail .alternative-names {
  top: 0;
  left: 0;
  right: 0;
  margin-top: 10%;
}
.title-detail #altNamesContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.title-detail #altNamesContent span {
  display: block;
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.5em;
  text-align: center;
}
.title-detail .title-info {
  display: flex;
  gap: 1em;
}
.title-detail .title-info span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--light-10);
  border-radius: var(--radius);
  padding: 0.2em 1em 0.2em 0.5em;
  transition: 0.3s;
}
.title-detail .title-info .data-nav-link {
  text-decoration: none;
  color: inherit;
  outline: var(--border);
  border-radius: var(--radius);
}
.title-detail .title-info .data-nav-link:hover span {
  background: var(--light-20);
}
.title-detail .watch-info {
  display: flex;
  gap: 0.3em;
}
.title-detail .watch-info a {
  color: transparent;
}
.title-detail .dub-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.title-detail .dub-info .teams-logos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.title-detail .dub-info .teams-logos span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--radius);
  transition: 0.3s;
}
.title-detail .dub-info .teams-logos img {
  height: 40px;
  width: auto;
  border-radius: var(--radius);
  margin-right: 0.3em;
}
.title-detail .dub-info .data-nav-link {
  text-decoration: none;
  color: inherit;
}
.title-detail .dub-info .data-nav-link:hover span {
  background: var(--light-10);
}
.title-detail #releasesList {
  width: 100%;
}
.title-detail .releases-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-top: 0.5em;
}

.release-page .release-info {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.release-page .release-torrents {
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}
.release-page .release-torrents a {
  border: 2px solid green;
  border-radius: 8px;
  padding: 0.2em 0.5em;
  color: lightgreen;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.release-page .release-torrents a:hover {
  background: var(--accent-20);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=title.css.map */