# Локальні залежності Node.js
node_modules/

# Локальні середовищні файли
.env

# Локальні файли
# *.sass
# sass.css
# sass.css.map
json/
# sass/
json/TitlesNotHavePosters.json
js/notion_posters_import.js
js/hikka_and_posters_import.js
js/hikka_import.js
notion_not_posters_import.js
not_have_torrent.js
js/notion_scripts

# Логи

# Тимчасові файли
