# Локальні залежності Node.js
node_modules/

# Локальні середовищні файли
.env

# Локальні файли
*.sass
sass.css
sass.css.map
json/
# !json/AnimeTitlesPostersDB.json
# !json/AnimeReleasesPostersDB.json

# js/
# !js/search.js

# Логи

# Тимчасові файли
