# Локальні залежності Node.js
node_modules/

# Локальні середовищні файли
.env

# Локальні файли
*.sass
sass.css
sass.css.map
AnimeReleasesDB.json
AnimeTitlesDB.json
TeamsDB.json

# Логи

# Тимчасові файли
