/* == Fonts == */
@import "https://fonts.googleapis.com/css2?family=Jura:wght@400&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Play&display=swap';
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

/* == CSSs == */
@import "css/colors.css";
@import "css/main.css";
/* global elements */
@import "css/breadcrumbs.css";
@import "css/home.css";
@import "css/anime-hub.css";
@import "css/footer.css";
/* main */
@import "css/list.css";
/*@import "css/mainpage.css";*/
@import "css/search_modal.css";
@import "css/title.css";
@import "css/team.css";
/* components */
@import "css/list-filter.css";
@import "css/pagination.css";
@import "css/components/list_card.css";
@import "css/components/list_team-card.css";
@import "css/components/title_releases.css";
/* other */
@import "css/theme-light.css";
@import "css/mobile.css";