/* ==
    Блок з релізами тайтлу в модальному вікні тайтлу.
== */

#animeDetailModal #releasesList {
    width: 100%;
}

#animeDetailModal #releasesList .releases-container {
    display: grid;
    gap: 1em;
    margin-top: .5em;
}

#animeDetailModal #releasesList .releases-container  .header-card {
    outline: none;
    pointer-events: none;
    font-weight: 600;
    background: none;
}

#animeDetailModal #releasesList .releases-container .release-card {
    max-width: unset;
    display: grid;
    grid-template-columns: repeat(1, 15% 35% 30% 10% 10%);
    align-items: center;
    justify-items: center;
}

#animeDetailModal #releasesList .releases-container .team-initials {
    border: 1px solid var(--light-20);
    width: 34px;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    border-radius: var(--radius);
}

#animeDetailModal .watch-tags {
    display: flex;
    gap: .5em;
}
#animeDetailModal .watch-tag {
    display: flex;
    padding: .3em 1em;
    border-radius: var(--radius);
}

#animeDetailModal #releasesList .teams-logos {
    position: relative;
    flex-direction: row;
    gap: .5em;
}
#animeDetailModal #releasesList .teams-logos > span {
    display: flex !important;
    align-items: center;
}
#animeDetailModal #releasesList .teams-logos img {
    height: 30px;
    border-radius: 8px;
}